// valiables
$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$gray: rgb(196, 196, 196);

.container {
  background-color: $white;
  color: $black;
}

.header {
  background-color: $gray;
  padding: 15px 0;
}
.title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}

.main {
  padding: 0 80px;
}

.contents {
  padding: 0 30px;
  padding-bottom: 30px;
}

.title_mini {
  font-size: 20px;
}

.checkboxes {
  display: flex;
  flex-wrap: wrap;
  padding-top: 0;
}

.checkbox {
  width: 122px;
  display: flex;
}

.checkbox_box {
  cursor: pointer;
  background-color: $white;
  border: 2px $black solid;
}

.checkbox_label {
  margin: 0 auto;
  margin-left: 0;
  cursor: pointer;
}

.chart_content {
  border: 1px solid $black;
}
