@import "@/styles/variable.scss";

.main {
  padding: 0 80px;
}

.contents {
  padding: 0 30px;
  padding-bottom: 30px;
}

.chart_content {
  border: 1px solid $black;
}

@media (max-width: 600px) {
  .main {
    padding: 0px;
  }

  .contents {
    padding: 0 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid $gray;
  }

  .chart_content {
    border: none;
  }
}
